@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}
/* base styles & title */
body {
  font-family: "Noto Serif";
  color: var(--secondary);
}
.output {
  margin-top: 4rem;
  width: 100%;
  height: 47rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

.output::-webkit-scrollbar {
  display: none;
}

.box {
  margin: 0.4rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2.2px 4.3px 4.3px hsl(0deg 0% 0% / 0.43);
  cursor: pointer;
  transition: all 2s ease-in-out;
}

.image-container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.dialog-image-container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  position: relative;
  padding: 0.7rem;
  cursor: pointer;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.md-outline-downloading {
  position: absolute;
  z-index: 1;
  left: 33rem;
  top: 2rem;
  color: rgb(37, 35, 35);
  cursor: pointer;
}

/* upload form styles */

.error {
  color: var(--error);
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}
