.output {
  margin-top: 2rem;
  width: 100%;
  height: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

.output::-webkit-scrollbar {
  display: none;
}

.box {
  margin: 0.5rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2.2px 4.3px 4.3px hsl(0deg 0% 0% / 0.43);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.image-container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.dialog-image-container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  position: relative;
  padding: 0.7rem;
  cursor: pointer;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.md-outline-downloading {
  position: absolute;
  z-index: 1;
  left: 33rem;
  top: 2rem;
  color: rgb(37, 35, 35);
  cursor: pointer;
}
/* .md-outline-downloading:hover {
  border-radius: 50%;
  background-color: rgb(53, 50, 50);
} */
